
@import url('https://fonts.googleapis.com/css?family=Bitter:400i|Merriweather');

$brand-primary: #85B79D;
$btn-hover: #424B54;
$black: #000;
$white: #fff;
$box-std: 20%;
$gutter-std: 5%;

html {
  width: 100%;
}

body {
  font-family: helvetica;
  font-size: 1em;
  background: #B7BABC;
}

nav {
  background-color: #354A6B;
  padding-left: 65em;
  padding-top: 2em;
  // z-index: -1;
}

li {
  display: inline;
  font-family: 'Merriweather', serif;
  font-size: .75em;
}

.title {
  color: $white;
  background-color: #354A6B;
  font-family: 'Bitter';
  font-size: 2em;
  text-align: center;
  // margin-bottom: 5%;
}
h1 {
  margin-bottom: 5%;
}

button {
  width: $box-std;
  padding: 2% 0;
  background: #0C1E32;
  color: $white;
  border: none;
  cursor: pointer;
  transition: 350ms all;

  &:hover {
    background: $btn-hover;
  }
}

section {
  text-align: center;
}

select {
  margin-left: 50px;
}

input[type="text"] {
  width: $box-std;
  height: $box-std / 2;
  margin-right: $gutter-std / 2;
  padding: 2%;
  border: none;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  margin: $gutter-std;
}
