// :::: VARS :::: //
$brand-primary: #222;
$brand-secondary: #AFAFAF;

$padding: .5em;

$font-size-primary: 1.025em;

$cowtext-shadow:
  -1px -1px 1px #fff,
   0px -1px 1px #fff,
   1px -1px 1px #fff,
  -1px  0px 1px #fff,
   1px  0px 1px #fff,
  -1px  1px 1px #fff,
   0px  1px 1px #fff,
   1px  1px 1px #fff;

$headertext-shadow:
  -1px -1px 1px #000,
   0px -1px 1px #000,
   1px -1px 1px #000,
  -1px  0px 1px #000,
   1px  0px 1px #000,
  -1px  1px 1px #000,
   0px  1px 1px #000,
   1px  1px 1px #000;

// :::: MIXINS :::: //
@mixin bubble{
  border-radius: .25em;
  font-family: sans-serif;
}

@mixin drop{
  @include bubble;
  font-size: $font-size-primary;
}

// :::: BASE STYLES :::: //
html, body {
  // position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: $brand-primary;
  text-align: center;
}

select, button {
  font-size: 0.9em;
  font-weight: bold;
}

nav {
  left: 0;
  margin: auto;
  background: #000;
  border-style: ridge;
}

nav ul {
  padding: 0;
}

nav ul li {
  margin: 2%;
  display: inline;
  list-style: none;
  font-size: 1.8em;
}

nav ul li a {
  text-decoration: none;
  color: $brand-secondary
}

input {
  @include bubble;
  width: 30%;
  margin: 0;
  padding: $padding;
  &:hover {
    color: $brand-secondary;
  }
}

label {
  color: #FFF;
  font-weight: bold;
}

pre {
  font-family: monospace;
  font-weight: bold;
  text-shadow: $cowtext-shadow;
}

@for $i from 6 through 1 {
  h#{$i} {
    color: $brand-secondary;
    font-weight: bold;
    margin-bottom: $font-size-primary / 2;
    font-size: 9/($i +2) * 1em;
    text-shadow: $headertext-shadow;
  }
}

// :::: LAYOUTS :::: //

pre {
  margin-left: 25%;
  width: 0;
}

button {
  width: 108px;
}

.spoken {
  margin-bottom: 10%;
}
.savedcow {
  margin-top: 5%;
}
