<!DOCTYPE html>
<html ng-app="cowsayApp">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Cowville</title>
  </head>
  <body>
    <header>
      <nav ng-controller="NavigationController as navCtrl">
        <ul>
          <li ng-repeat="route in navCtrl.routes">
            <a href="{{ route.url }}">{{ route.name }}</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <section
        ng-controller="CowsayController as cowsayCtrl"
        ng-init="cowsayCtrl.current = 'turkey'">
        <h2>{{ cowsayCtrl.title }}</h2>
        <pre>
          {{ cowsayCtrl.update(cowsayCtrl.text) }}
        </pre>
        <form
          ng-submit="cowsayCtrl.speak(cowsayCtrl.text)"
          name="cowsayForm"
          novalidate>
          <label for="cowOptions">Select Your Cow</label>
          <select name="cowOptions" ng-model="cowsayCtrl.current">
            <option ng-repeat="cow in cowsayCtrl.cowfiles track by $index" value="{{ cow }}">{{ cow }}</option>
          </select>
          <input type="text" ng-model="cowsayCtrl.text" required>
          <button type="submit" name="speak">save cow</button>
          <div class="spoken" ng-show="cowsayCtrl.spoken">
            <pre class="savedcow">
              {{ cowsayCtrl.spoken }}
            </pre>
            <button type="button" name="undo" ng-click="cowsayCtrl.undo()">Undo!</button>
          </div>
        </form>
      </section>
    </main>
    <footer></footer>
  </body>
</html>

<!-- :::: IPSUM GENERATOR :::: -->

<!-- <!DOCTYPE html>
<html>
  <head>
    <title> Hacker Ipsum </title>
  </head>
  <body>
    <div class="ipsum-app" ng-app="ipsumApp">
      <header>
        <h1> Hacker Ipsum </h1>
      </header>
      <main
        ng-controller="IpsumController as ipsumCtrl">
        <form ng-submit="ipsumCtrl.handleSubmit()">
          <select ng-model="ipsumCtrl.selected">
            <option
              ng-repeat="item in ipsumCtrl.choices track by $index"
              value="{{item}}">
              {{item}}
            </option>

          </select>
          <button type="submit"> barf {{ipsumCtrl.selected}} ipsum </button>
        </form>

        {{ipsumCtrl.content}}
      </main>
    </div>
  </body>
</html> -->
