// :::: Vars ::::]
$brand-primary: #777;
$btn-primary: $brand-primary / 2;
$black: #000;
$white: #fff;

// :::::: Mixins ::::::: ///

@mixin board{
  border: 5px dashed black;
  font-size: .68em;
}

@mixin fonter{
    font-family: comic;
    font-size: .50em;
}

// :::: base styles ::::

body {
  font-family: times;
  font-size: 2vw;
  background: #F0D817;
}

h2{
  @include fonter;
  font-size: 2em;
}


pre{
  @include board;
  height: 20em;
  width: 50em;
  margin: 1em;
  padding: 1em;

}


#nav-bar{
  @include fonter;
  margin: .2em;
  display: inline-block;
}
